/************************************
*@描述:变量
************************************/
/*布局宽度*/
/*默认颜色值*/
/*
*MIX混合
*/
/************************************
*@描述:功能类样式(function);function.less以此为准
************************************/
/**居中**/
/**隐藏文字**/
/**圆角**/
/**投影**/
/**透明度**/
/**背景颜色渐变**/
/**对象渐隐渐显**/
/**旋转**/
/**三角箭头**/
/**纯文字**/
@charset "utf-8";
/************************************
*@描述:基础样式,reset+tag
************************************/
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
strong,
img,
form,
fieldset,
input,
textarea,
button,
pre,
table,
tr,
th,
td,
blockquote,
code,
label,
cite,
i,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
:focus {
  outline: 0;
}
fieldset,
img {
  border: 0;
}
ul,
ol,
li {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
tr,
td {
  text-align: left;
}
u,
del,
ins {
  text-decoration: none;
}
label {
  cursor: pointer;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
i {
  font-style: normal;
}
q:before,
q:after {
  content: '\200B';
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  zoom: 1;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
select,
input,
img {
  vertical-align: middle;
}
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  resize: none;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button[disabled],
input[disabled],
a[disabled],
span[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
a {
  text-decoration: none;
  background: transparent;
}
a:hover {
  text-decoration: underline;
  outline: 0;
}
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/************************************
*@描述:功能类样式(function),前缀为f-
*@格式:f-
************************************/
.f-f12 {
  font-size: 12px;
}
.f-f14 {
  font-size: 14px;
}
.f-fb {
  font-weight: bold;
}
.f-fn {
  font-weight: normal;
}
.f-lh22 {
  line-height: 22px;
}
.f-lh24 {
  line-height: 24px;
}
.f-tc {
  text-align: center;
}
.f-tl {
  text-align: left;
}
.f-tr {
  text-align: right;
}
.f-break {
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}
.f-nobreak {
  word-wrap: normal;
  white-space: nowrap;
}
.f-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.f-pre,
pre {
  white-space: pre;
  word-wrap: break-word;
  word-break: normal;
}
.f-right {
  float: right;
  display: inline;
}
.f-left {
  float: left;
  display: inline;
}
.f-fln {
  float: none;
}
.f-cl {
  clear: left;
}
.f-cr {
  clear: right;
}
.f-cb {
  clear: both;
}
.f-clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
  overflow: hidden;
}
.f-clearfix,
.clearfix {
  display: block;
  zoom: 1;
}
.f-clearfix:after,
.clearfix:after {
  content: '\200B';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.f-mt5 {
  margin-top: 5px;
}
.f-mt10 {
  margin-top: 10px;
}
.f-pa10 {
  padding: 10px;
}
.f-pt10 {
  padding-top: 10px;
}
.f-pr10 {
  padding-right: 10px;
}
.f-pb10 {
  padding-bottom: 10px;
}
.f-pl10 {
  padding-left: 10px;
}
.f-posr {
  position: relative;
  zoom: 1;
}
.f-posa {
  position: absolute;
  zoom: 1;
}
.f-posf {
  position: fixed;
}
.f-oh {
  overflow: hidden;
}
.f-tablefix {
  table-layout: fixed;
}
.f-db {
  display: block;
}
.f-dn {
  display: none;
}
.f-di {
  display: inline;
}
.f-dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.f-simsun,
.f-st {
  font-family: simSun;
}
.f-simhei,
.f-ht {
  font-family: simHei;
}
.f-yahei,
.f-yh {
  font-family: 'Microsoft YaHei', SimHei, SimSun;
}
.f-unselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-size: 12px;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}
.g-wrap {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  zoom: 1;
}
.g-wrap:after {
  content: '\200B';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
.g-wrap:after {
  content: '\200B';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
}
/************************************
*@描述:布局
************************************/
.g-headTip {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fffcf0;
  color: #cd1906;
  position: absolute;
  zoom: 1;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 10px 0;
  font-family: 'Microsoft YaHei', SimHei, SimSun;
  font-size: 16px;
  border-bottom: 1px solid #cd1906;
}
.g-head {
  height: 50px;
  background-color: #323436;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2100;
}
.g-head .m-nav {
  float: left;
  display: inline;
  margin-left: 20px;
  height: 50px;
  font-family: 'Microsoft YaHei', SimHei, SimSun;
}
.g-head .m-nav .mobile {
  display: none;
}
.g-head .m-nav .li1 {
  height: 50px;
  float: left;
  display: inline;
}
.g-head .m-nav .li1 a {
  padding: 0px 25px;
  line-height: 50px;
  display: block;
  color: #8c8c8c;
  font-size: 14px;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  position: relative;
  zoom: 1;
}
.g-head .m-nav .li1 a:hover {
  background-color: #454648;
  color: #ffffff;
  text-decoration: none;
}
.g-head .m-nav .li1 a.active {
  background-color: #4b4d4f;
  color: #ffffff;
}
.g-head .m-nav .li1 a span {
  position: relative;
  zoom: 1;
  left: 8px;
  top: -2px;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.ie7 .g-head .m-nav .li1 a span {
  top: -5px;
}
.g-head .m-nav .li1:hover ul {
  opacity: 1;
  visibility: visible;
}
.g-head .m-nav .li1:hover span {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.g-head .m-nav .ul2 {
  padding: 0px 0 10px 0;
  position: absolute;
  zoom: 1;
  width: 88px;
  background-color: #454648;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.g-head .m-nav .ul2 li {
  float: left;
  display: inline;
  height: 28px;
  width: 100%;
}
.g-head .m-nav .ul2 li a {
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.g-head .m-nav .ul2 li:hover a {
  background-color: #c7171e;
}
.g-head .m-search {
  width: 268px;
  height: 32px;
  padding-top: 10px;
  float: right;
  display: inline;
}
.ie8 .g-head .m-search,
.ie7 .g-head .m-search {
  width: 168px;
}
.g-head .m-search .keywords {
  height: 14px;
  line-height: 14px;
  color: #8b8d90;
  padding: 9px;
  width: 120px;
  border: none;
  background-color: #454648;
  float: left;
  display: inline;
  margin-left: 100px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.ie8 .g-head .m-search .keywords,
.ie7 .g-head .m-search .keywords {
  margin-left: 0;
}
.g-head .m-search .keywords:focus {
  width: 220px;
  margin-left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}
.ie8 .g-head .m-search .keywords:focus,
.ie7 .g-head .m-search .keywords:focus {
  width: 120px;
}
.g-head .m-search .m-placeholderLabelWrap {
  float: left;
  display: inline;
}
.g-head .m-search .btn {
  display: block;
  width: 30px;
  height: 32px;
  border: none;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  font-size: 0;
  line-height: 0;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  float: left;
  display: inline;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #454648;
}
.g-head .m-search .btn span {
  display: block;
  width: 16px;
  height: 16px;
  margin: 8px 7px;
  background: url(/images/common/icon.png) -50px 0px no-repeat;
}
.g-head .m-search .btn:hover {
  background-color: #2a2c2e;
}
.g-head2 {
  height: 40px;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 50px;
  z-index: 2008;
  background-color: #f7f8f8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.g-head2 .m-type,
.g-head2 .m-tags {
  width: 126px;
  float: left;
  display: inline;
  cursor: pointer;
}
.g-head2 .m-type .u-ico-arrow,
.g-head2 .m-tags .u-ico-arrow {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
}
.ie7 .g-head2 .m-type .u-ico-arrow,
.ie7 .g-head2 .m-tags .u-ico-arrow {
  position: relative;
  zoom: 1;
  top: -3px;
}
.g-head2 .m-type:hover .u-ico-arrow,
.g-head2 .m-tags:hover .u-ico-arrow {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.g-head2 .m-type:hover .typeList,
.g-head2 .m-tags:hover .typeList,
.g-head2 .m-type:hover .tagList,
.g-head2 .m-tags:hover .tagList {
  display: block;
}
.g-head2 .alltype,
.g-head2 .alltag {
  background-color: #edeeee;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2) inset;
  color: #333333;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.g-head2 .alltype .u-ico-alltype,
.g-head2 .alltag .u-ico-alltype {
  position: relative;
  zoom: 1;
  top: 2px;
}
.g-head2 .alltype .u-ico-alltag,
.g-head2 .alltag .u-ico-alltag {
  position: relative;
  zoom: 1;
  top: 4px;
}
.g-head2 .alltype .text,
.g-head2 .alltag .text {
  margin: 0 10px;
}
.g-head2 .alltag {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
}
.g-head2 .typeList {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  display: none;
}
.g-head2 .typeList li {
  height: 34px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.g-head2 .typeList li a {
  display: block;
  height: 34px;
  line-height: 34px;
  color: #747474;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.g-head2 .typeList li a .u-ico-recommend {
  position: relative;
  zoom: 1;
  left: 0;
}
.g-head2 .typeList li a .u-ico-pub {
  position: relative;
  zoom: 1;
  left: -2px;
}
.g-head2 .typeList li a .u-ico-like {
  position: relative;
  zoom: 1;
  left: -1px;
}
.g-head2 .typeList li a .u-ico-view {
  position: relative;
  zoom: 1;
  left: -3px;
}
.g-head2 .typeList li a .u-ico-comment {
  position: relative;
  zoom: 1;
  left: -1px;
}
.g-head2 .typeList li a:hover {
  background-color: #c7171e;
  color: #ffffff;
}
.g-head2 .typeList li a:hover .u-ico-recommend {
  background-position: -175px 0;
}
.g-head2 .typeList li a:hover .u-ico-pub {
  background-position: -250px 0;
}
.g-head2 .typeList li a:hover .u-ico-like {
  background-position: -325px 0;
}
.g-head2 .typeList li a:hover .u-ico-view {
  background-position: -400px 0;
}
.g-head2 .typeList li a:hover .u-ico-comment {
  background-position: -475px 0;
}
.g-head2 .typeList li span {
  position: relative;
  zoom: 1;
  top: 3px;
  width: 18px;
}
.g-head2 .typeList li:last-child {
  border: none;
}
.g-head2 .tagList {
  background-color: #fff;
  width: 500px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  display: none;
}
.g-head2 .tagList a {
  background: #eeeeee;
  color: #888888;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  margin-right: 10px;
  word-wrap: normal;
  white-space: nowrap;
}
.g-head2 .tagList a:hover {
  background-color: #333333;
  color: #ffffff;
}
.g-head2 .m-announce {
  width: 500px;
  float: right;
  display: inline;
  height: 40px;
  overflow: hidden;
}
.g-head2 .m-announce .u-ico-announce {
  float: left;
  display: inline;
  margin-right: 18px;
  margin-top: 12px;
}
.g-head2 .m-announce ul {
  float: left;
  display: inline;
  position: relative;
  zoom: 1;
  left: 0;
  top: 0;
}
.g-head2 .m-announce li {
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.g-head2 .m-announce .option {
  float: right;
  display: inline;
  margin-left: 20px;
  margin-top: 8px;
  width: 15px;
}
.g-head2 .m-announce .option .up,
.g-head2 .m-announce .option .down {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 7px;
  height: 4px;
  padding: 4px;
}
.g-head2 .m-announce .option .up i,
.g-head2 .m-announce .option .down i {
  float: left;
  display: inline;
}
.g-main {
  padding-top: 130px;
}
.g-foot {
  background-color: #222324;
  color: #CECECE;
  padding: 20px 0;
  margin-top: 28px;
  line-height: 2;
  font-size: 12px;
  font-family: 'Microsoft YaHei', SimHei, SimSun;
}
.g-foot a {
  color: #CECECE;
}
.g-foot .links span {
  color: #666;
  padding: 0px 8px;
}
.g-foot .copyright {
  padding: 10px 0 0;
}
.g-gotop {
  position: fixed;
  right: 10px;
  -webkit-transition: bottom ease 0.3s;
  -moz-transition: bottom ease 0.3s;
  -ms-transition: bottom ease 0.3s;
  -o-transition: bottom ease 0.3s;
  transition: bottom ease 0.3s;
  bottom: -85px;
  z-index: 2100;
}
.g-gotop .weixin,
.g-gotop .gotop {
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
}
.ie8 .g-gotop .weixin,
.ie8 .g-gotop .gotop,
.ie7 .g-gotop .weixin,
.ie7 .g-gotop .gotop {
  background-color: #666666;
}
.g-gotop .weixin:hover .u-ico-weixinBig {
  display: block;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}
.g-gotop .u-ico-weixin {
  margin-left: 11px;
  margin-top: 11px;
}
.g-gotop .u-ico-gotop {
  margin-left: 8px;
  margin-top: 14px;
}
.g-gotop .u-ico-weixinBig {
  position: absolute;
  zoom: 1;
  left: -185px;
  top: -115px;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  transform-origin: 100% 70%;
  -webkit-transform-origin: 100% 70%;
  transition: transform ease .3s,opacity ease .3s;
  -webkit-transition: all ease .3s;
}
.ie8 .g-gotop .u-ico-weixinBig,
.ie7 .g-gotop .u-ico-weixinBig {
  display: none;
}
.g-gotop .gotop {
  background-color: rgba(51, 51, 51, 0.6);
  transition: background-color ease 0.3s;
  margin-top: 1px;
}
.g-gotop .gotop:hover {
  background-color: #70CA10;
}
/**主要列表**/
.g-mainWrap {
  overflow: hidden;
}
.m-space {
  clear: both;
  height: 0;
  overflow: hidden;
}
.m-list {
  width: 110%;
  margin-top: -45px;
}
.m-list li {
  background-color: #ffffff;
  float: left;
  display: inline;
  margin-top: 45px;
  margin-right: 20px;
  width: 280px;
}
.m-list li:hover .listTags {
  bottom: 0;
}
.m-list .listTop {
  height: 180px;
  position: relative;
  zoom: 1;
  overflow: hidden;
}
.m-list .listTags {
  padding: 10px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  zoom: 1;
  left: 0;
  bottom: -60px;
  height: 40px;
  -webkit-transition: bottom 0.3s ease-in;
  -moz-transition: bottom 0.3s ease-in;
  -ms-transition: bottom 0.3s ease-in;
  -o-transition: bottom 0.3s ease-in;
  transition: bottom 0.3s ease-in;
}
.ie8 .m-list .listTags,
.ie7 .m-list .listTags {
  background-color: #000;
  filter: alpha(opacity=50);
}
.m-list h2 {
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  overflow: hidden;
}
.m-list h2 a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  padding: 0px 5px;
  color: #fff;
  line-height: 20px;
}
.m-list h3 {
  font-family: 'Microsoft YaHei', SimHei, SimSun;
  color: #000000;
  margin-top: 15px;
  padding: 0px 15px;
  font-size: 18px;
  font-weight: normal;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.m-list .listTime {
  padding: 0px 15px;
  line-height: 28px;
  color: #aaaaaa;
}
.m-list .summary {
  padding: 0px 15px;
  color: #aaaaaa;
  height: 80px;
  line-height: 20px;
  overflow: hidden;
}
.m-list .u-ico-time {
  position: relative;
  zoom: 1;
  top: 1px;
  margin-right: 5px;
}
.m-list .listCount {
  height: 22px;
  padding: 12px 20px 8px;
}
.m-list .listCount span {
  margin-right: 8px;
  color: #bbbbbb;
}
.m-list .listCount .u-ico-view2 {
  margin-right: 5px;
}
.m-list .listCount .u-ico-comment2 {
  margin-right: 5px;
  margin-bottom: -2px;
}
.m-list .listCount .u-ico-like2 {
  margin-right: 5px;
  margin-bottom: -2px;
}
.m-list .listCount .u-ico-recommend2 {
  float: right;
  display: inline;
  margin-right: 0;
}
.m-pages {
  text-align: left;
  padding: 20px 0px;
}
.m-pages ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.m-pages li {
  display: inline;
}
.m-pages .home,
.m-pages .pre,
.m-pages .next,
.m-pages .end,
.m-pages .cur,
.m-pages .num,
.m-pages .dot {
  position: relative;
  zoom: 1;
  z-index: 1;
  float: left;
  display: inline;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  margin-left: 0px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 0px solid #dddddd;
  color: #333333;
}
.m-pages .home:hover,
.m-pages .pre:hover,
.m-pages .next:hover,
.m-pages .end:hover,
.m-pages .cur:hover,
.m-pages .num:hover,
.m-pages .dot:hover {
  z-index: 2;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 0px solid #969696;
  background-color: #969696;
  color: #ffffff;
  text-decoration: none;
}
.m-pages .cur,
.m-pages .cur:hover {
  z-index: 2;
  border: 0px solid #70ca10;
  background-color: #70ca10;
  color: #ffffff;
}
.m-pages .dot:hover {
  background-color: #ffffff;
  border: 0px solid #dddddd;
  color: #333333;
}
.m-pages .pre em,
.m-pages .next em {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 11px;
  height: 18px;
  background: url(/images/common/icon.png) -125px -25px no-repeat;
  position: relative;
  zoom: 1;
  top: 4px;
  left: 0px;
}
.ie7 .m-pages .pre em,
.ie7 .m-pages .next em {
  top: 8px;
}
.m-pages .next em {
  background-position: -75px -25px;
}
.m-article {
  width: 880px;
  float: left;
  display: inline;
}
.m-content {
  background-color: #ffffff;
  padding: 20px;
}
.m-content h2 {
  font-size: 24px;
  font-family: 'Microsoft YaHei', SimHei, SimSun;
  color: #333333;
  line-height: 1.5;
  font-weight: normal;
}
.m-content .articleInfo {
  line-height: 2;
  color: #999999;
}
.m-content .articleInfo a {
  color: #999999;
}
.m-content .content {
  line-height: 1.8;
  padding: 10px 0;
  color: #777777;
  font-size: 14px;
}
.m-content .content img {
  max-width: 100%;
}
.m-content .disclaimer {
  border-top: 1px dotted #999999;
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  color: #999999;
}
.m-content .digg {
  margin-top: 10px;
}
.m-content .digg a {
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  background-color: #ff8a00;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.m-content .digg a:hover {
  text-decoration: none;
  background-color: #ff4600;
}
.m-content .digg .u-ico-like3 {
  margin-bottom: -1px;
}
.m-content .tag_share {
  margin-top: 20px;
}
.m-content .tag_share .tag {
  font-weight: normal;
  font-size: 12px;
}
.m-content .tag_share .tag a {
  background: #eeeeee;
  color: #888888;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  -webkit-transition: background-color 0.3s ease-in;
  -moz-transition: background-color 0.3s ease-in;
  -ms-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  margin-right: 10px;
  word-wrap: normal;
  white-space: nowrap;
}
.m-content .tag_share .tag a:hover {
  background-color: #333333;
  color: #ffffff;
}
.m-content .tag_share .tag .u-ico-tag {
  margin-bottom: -2px;
}
.m-relative {
  margin-top: 20px;
}
.m-relative .headline {
  font-size: 20px;
  font-family: 'Microsoft YaHei', SimHei, SimSun;
  color: #666666;
  line-height: 1.5;
  font-weight: normal;
  padding-bottom: 10px;
}
.m-side {
  width: 280px;
  float: right;
  display: inline;
  background-color: #ffffff;
  padding: 20px 0px;
}
.m-side .titleLine {
  height: 1px;
  overflow: hidden;
  background-color: #dddddd;
  position: relative;
  zoom: 1;
  z-index: 1;
  top: -14px;
}
.m-side h4 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 14px;
  padding-right: 10px;
  background-color: #ffffff;
  height: 24px;
  line-height: 24px;
  position: relative;
  zoom: 1;
  z-index: 2;
}
.m-side h4 .more {
  float: right;
  display: inline;
  font-size: 12px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px 8px;
}
.m-side h5 {
  font-family: 'Microsoft YaHei', SimHei, SimSun;
  color: #333333;
  padding: 10px 0 ;
  font-size: 14px;
  font-weight: normal;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.m-side h6 {
  font-family: 'Microsoft YaHei', SimHei, SimSun;
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}
.m-side .recommend {
  padding: 0px 10px;
}
.m-side .recommend li {
  padding: 5px;
  margin-top: 5px;
}
.m-side .recommend li:hover {
  background-color: #efefef;
}
.m-side .recommendText {
  padding: 0px 10px;
}
.m-side .recommendText ul {
  padding-top: 5px;
}
.u-logo {
  display: none;
}
.u-ico-weixin,
.u-ico-weixinBig,
.u-ico-gotop,
.u-ico-arrow,
.u-ico-arrow2,
.u-ico-alltype,
.u-ico-recommend,
.u-ico-recommend2,
.u-ico-pub,
.u-ico-like,
.u-ico-like2,
.u-ico-like3,
.u-ico-view,
.u-ico-view2,
.u-ico-comment,
.u-ico-comment2,
.u-ico-alltag,
.u-ico-tag,
.u-ico-announce,
.u-ico-up,
.u-ico-down,
.u-ico-time {
  background: url(/images/common/icon.png) 0 0 no-repeat;
}
span.u-ico-weixin,
span.u-ico-weixinBig,
span.u-ico-gotop,
span.u-ico-arrow,
span.u-ico-arrow2,
span.u-ico-alltype,
span.u-ico-recommend,
span.u-ico-recommend2,
span.u-ico-pub,
span.u-ico-like,
span.u-ico-like2,
span.u-ico-like3,
span.u-ico-view,
span.u-ico-view2,
span.u-ico-comment,
span.u-ico-comment2,
span.u-ico-alltag,
span.u-ico-tag,
span.u-ico-announce,
span.u-ico-up,
span.u-ico-down,
span.u-ico-time,
a.u-ico-weixin,
a.u-ico-weixinBig,
a.u-ico-gotop,
a.u-ico-arrow,
a.u-ico-arrow2,
a.u-ico-alltype,
a.u-ico-recommend,
a.u-ico-recommend2,
a.u-ico-pub,
a.u-ico-like,
a.u-ico-like2,
a.u-ico-like3,
a.u-ico-view,
a.u-ico-view2,
a.u-ico-comment,
a.u-ico-comment2,
a.u-ico-alltag,
a.u-ico-tag,
a.u-ico-announce,
a.u-ico-up,
a.u-ico-down,
a.u-ico-time,
i.u-ico-weixin,
i.u-ico-weixinBig,
i.u-ico-gotop,
i.u-ico-arrow,
i.u-ico-arrow2,
i.u-ico-alltype,
i.u-ico-recommend,
i.u-ico-recommend2,
i.u-ico-pub,
i.u-ico-like,
i.u-ico-like2,
i.u-ico-like3,
i.u-ico-view,
i.u-ico-view2,
i.u-ico-comment,
i.u-ico-comment2,
i.u-ico-alltag,
i.u-ico-tag,
i.u-ico-announce,
i.u-ico-up,
i.u-ico-down,
i.u-ico-time {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.u-ico-arrow {
  width: 9px;
  height: 5px;
  background-position: 0 0;
}
.u-ico-arrow2 {
  width: 9px;
  height: 5px;
  background-position: -175px -25px;
}
.u-ico-alltype {
  width: 15px;
  height: 13px;
  background-position: -100px 0;
}
.u-ico-recommend {
  width: 12px;
  height: 16px;
  background-position: -125px 0;
}
.u-ico-recommend2 {
  width: 12px;
  height: 16px;
  background-position: -150px 0;
}
.u-ico-pub {
  width: 16px;
  height: 16px;
  background-position: -200px 0;
}
.u-ico-like {
  width: 14px;
  height: 13px;
  background-position: -275px 0;
}
.u-ico-like2 {
  width: 14px;
  height: 13px;
  background-position: -300px 0;
}
.u-ico-like3 {
  width: 14px;
  height: 13px;
  background-position: -325px 0;
}
.u-ico-view {
  width: 18px;
  height: 12px;
  background-position: -350px 0;
}
.u-ico-view2 {
  width: 18px;
  height: 12px;
  background-position: -375px 0;
}
.u-ico-comment {
  width: 16px;
  height: 14px;
  background-position: -425px 0;
}
.u-ico-comment2 {
  width: 16px;
  height: 14px;
  background-position: -450px 0;
}
.u-ico-alltag,
.u-ico-tag {
  width: 13px;
  height: 15px;
  background-position: 0 -25px;
}
.u-ico-announce {
  width: 12px;
  height: 14px;
  background-position: -25px -25px;
}
.u-ico-up {
  width: 7px;
  height: 4px;
  background-position: -26px 0;
}
.u-ico-down {
  width: 7px;
  height: 4px;
  background-position: -1px -1px;
}
.u-ico-time {
  width: 12px;
  height: 11px;
  background-position: -50px -25px;
}
.u-ico-weixin {
  width: 18px;
  height: 18px;
  background-position: 0 -50px;
}
.u-ico-weixinBig {
  width: 185px;
  height: 200px;
  background-position: 0 -300px;
}
.u-ico-gotop {
  width: 23px;
  height: 12px;
  background-position: -25px -50px;
}
a {
  color: #666666;
}
input[placeholder] {
  color: #999999;
}
.s-red {
  color: #c7171e;
}
.s-gray {
  color: #666666;
}
/**layer样式**/
.xubox_shade,
.xubox_layer {
  position: fixed;
  _position: absolute;
}
.xubox_shade {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  _height: expression(document.body.offsetHeight+'px');
}
.xubox_layer {
  top: 150px;
  left: 50%;
  height: auto;
  width: 310px;
  margin-left: -155px;
}
.xubox_border,
.xubox_title,
.xubox_title i,
.xubox_page,
.xubox_iframe,
.xubox_title em,
.xubox_close,
.xubox_msgico,
.xubox_moves {
  position: absolute;
}
.xubox_border {
  border-radius: 5px;
}
.xubox_title {
  left: 0;
  top: 0;
}
.xubox_main {
  position: relative;
  height: 100%;
  _float: left;
}
.xubox_page {
  top: 0;
  left: 0;
}
.xubox_load {
  background: url(/images/layer/xubox_loading0.gif) #ffffff center center no-repeat;
}
.xubox_loading {
  display: block;
  float: left;
  text-decoration: none;
  color: #FFF;
  _float: none;
}
.xulayer_png32 {
  background: url(/images/layer/xubox_ico0.png) no-repeat;
}
.xubox_moves {
  border: 3px solid #333;
  cursor: move;
  opacity: .7;
  filter: alpha(opacity=70);
}
.xubox_msgico {
  width: 32px;
  height: 32px;
  top: 52px;
  left: 15px;
  background: url(/images/layer/xubox_ico0.png) no-repeat;
}
.xubox_text {
  padding-left: 55px;
  float: left;
  line-height: 25px;
  word-break: break-all;
  padding-right: 20px;
  overflow: hidden;
  font-size: 14px;
}
.xubox_msgtype0 {
  background-position: -91px -38px;
}
.xubox_msgtype1 {
  background-position: -128px -38px;
}
.xubox_msgtype2 {
  background-position: -163px -38px;
}
.xubox_msgtype3 {
  background-position: -91px -75px;
}
.xubox_msgtype4 {
  background-position: -163px -75px;
}
.xubox_msgtype5 {
  background-position: -163px -112px;
}
.xubox_msgtype6 {
  background-position: -163px -148px;
}
.xubox_msgtype7 {
  background-position: -128px -75px;
}
.xubox_msgtype8 {
  background-position: -91px -6px;
}
.xubox_msgtype9 {
  background-position: -129px -6px;
}
.xubox_msgtype10 {
  background-position: -163px -6px;
}
.xubox_msgtype11 {
  background-position: -206px -6px;
}
.xubox_msgtype12 {
  background-position: -206px -44px;
}
.xubox_msgtype13 {
  background-position: -206px -81px;
}
.xubox_msgtype14 {
  background-position: -206px -122px;
}
.xubox_msgtype15 {
  background-position: -206px -157px;
}
.xubox_loading_0 {
  width: 60px;
  height: 24px;
  background: url(/images/layer/xubox_loading0.gif) no-repeat;
}
.xubox_loading_1 {
  width: 37px;
  height: 37px;
  background: url(/images/layer/xubox_loading1.gif) no-repeat;
}
.xubox_loading_2,
.xubox_msgtype16 {
  width: 32px;
  height: 32px;
  background: url(/images/layer/xubox_loading2.gif) no-repeat;
}
.xubox_loading_3 {
  width: 126px;
  height: 22px;
  background: url(/images/layer/xubox_loading3.gif) no-repeat;
}
.xubox_title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #d5d5d5;
  background: url(/images/layer/xubox_title0.png) #ebebeb repeat-x;
  cursor: move;
  font-size: 14px;
  color: #333333;
}
.xubox_title em {
  display: block;
  height: 20px;
  line-height: 20px;
  width: 80%;
  top: 9px;
  left: 10px;
  font-style: normal;
  overflow: hidden;
}
.xubox_close0 {
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  background-position: -31px -7px;
  cursor: pointer;
  overflow: hidden;
}
.xubox_close0:hover {
  background-position: -51px -7px;
}
.xubox_close1 {
  right: -20px;
  top: -21px;
  width: 34px;
  height: 30px;
  background-position: -5px -252px;
  cursor: pointer;
  overflow: hidden;
  _right: 3px;
  _top: 3px;
  _width: 14px;
  _height: 14px;
  _background-position: -31px -7px;
}
.xubox_close1:hover {
  background-position: -44px -252px;
  _background-position: -51px -7px;
}
.xubox_botton a {
  position: absolute;
  bottom: 10px;
  left: 50%;
  background: url(/images/layer/xubox_ico0.png) repeat;
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}
.xubox_botton a:hover {
  text-decoration: none;
  color: #ffffff;
}
.xubox_botton .xubox_botton1 {
  width: 79px;
  height: 32px;
  line-height: 32px;
  margin-left: -39px;
  background-position: -6px -34px;
}
.xubox_botton1:hover {
  background-position: -6px -72px;
}
.xubox_botton .xubox_botton2 {
  margin-left: -76px;
  width: 71px;
  height: 29px;
  line-height: 29px;
  background-position: -5px -114px;
}
.xubox_botton2:hover {
  background-position: -5px -146px;
}
.xubox_botton .xubox_botton3 {
  width: 71px;
  height: 29px;
  line-height: 29px;
  margin-left: 10px;
  background-position: -81px -114px;
}
.xubox_botton3:hover {
  background-position: -81px -146px;
}
.xubox_tips {
  position: relative;
  line-height: 20px;
  padding: 3px 30px 3px 10px;
  font-size: 12px;
  _float: left;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.xubox_tips i.layerTipsG {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 8px;
  border-color: transparent;
  border-style: dashed;
  *overflow: hidden;
}
.xubox_tips i.layerTipsT,
.xubox_tips i.layerTipsB {
  left: 5px;
  border-right-style: solid;
}
.xubox_tips i.layerTipsT {
  bottom: -8px;
}
.xubox_tips i.layerTipsB {
  top: -8px;
}
.xubox_tips i.layerTipsR,
.xubox_tips i.layerTipsL {
  top: 1px;
  border-bottom-style: solid;
}
.xubox_tips i.layerTipsR {
  left: -8px;
}
.xubox_tips i.layerTipsL {
  right: -8px;
}
